footer.footer
	.container
		.block.footer__wrap
			.footer__block
				h3.footer__title О нас
				ul.footer__menu
					li.footer__item
						a(href="#").footer__link О компании
					li.footer__item
						a(href="#").footer__link Отзывы
					li.footer__item
						a(href="#").footer__link Мы и СМИ
					li.footer__item
						a(href="#").footer__link База знаний
					li.footer__item
						a(href="#").footer__link Контакты
					li.footer__item
						a(href="#").footer__link Лента событий
			.footer__block
				h3.footer__title Сервис
				ul.footer__menu
					li.footer__item
						a(href="#").footer__link Условия доставки
					li.footer__item
						a(href="#").footer__link Условия оплаты
					li.footer__item
						a(href="#").footer__link Условия возврата
					li.footer__item
						a(href="#").footer__link Оптовикам
					li.footer__item
						a(href="#").footer__link Гарантийные обязательства
					li.footer__item
						a(href="#").footer__link Конфиденциальность
			.footer__block
				h3.footer__title Способы оплаты
				ul.footer__menu.footer__menu_img.footer__menu_flex
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img WebMoney
							img(src="image/WebMoney.png" alt="WebMoney").footer__img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img QIWI
							img(src="image/QIWI.png" alt="QIWI").footer__img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img MasterCard
							img(src="image/MasterCard.png" alt="MasterCard").footer__img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img Связной
							img(src="image/sviasnoy.png" alt="Связной").footer__img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img Яндекс Деньги
							img(src="image/Yandex.png" alt="Яндекс Деньги").footer__img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img VISA
							img(src="image/VISA.png" alt="VISA").footer__img
			.footer__block
				h3.footer__title Способы доставки
				ul.footer__menu.footer__menu_img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img Почта Россиии
							img(src="image/post.png" alt="Почта Россиии").footer__img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img Деловые линии
							img(src="image/delovii_linii.png" alt="Деловые линии").footer__img
					li.footer__item.footer__item_img
						a(href="#").footer__link.footer__link_img EMS почта России
							img(src="image/EMS.png" alt="EMS почта России").footer__img
		.block.footer__wrap
			.footer__block
				p.footer__text_white © 2016 «PEST 911»
			.footer__block
				img(src="image/social.png")
			.footer__block.footer__block_big
				p.footer__text_white Создание сайта — компания 
					a(href="#").footer__link «Пиком»